# Flash 2MB (ESP32-C6 Zero)
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y

# Partition table custom
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Zigbee stack - Router
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y
CONFIG_ZB_ZED=n

# IEEE 802.15.4
CONFIG_IEEE802154_ENABLED=y

# Stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Logs
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_ZB_DEBUG_MODE=y
